<app-header></app-header>
<div class="home-container">
    <h1 class="home-heading">
      Find The Job That <br />
      Fits Your Life
    </h1>
    <p class="home-paragraph">
      Millions of people are searching for jobs, salary information, company
      reviews. Find the job that fits your abilities and potential.
    </p>
    <a routerLink="/jobs" class="retry-btn-link">
      <button class="home-jobs-button" type="button" (click)="onRedirectToJobs()">
        Find Jobs
      </button>
    </a>
  </div>
